<div class="col-md-3">  
    <div data-spy="affix" data-offset-top="200" id="course-sidebar">
        <a href="{{ url_for('viewDepartment', dept_id = curr_dept.id) }}" class="lead">{{curr_dept.name}}</p>
        <div class="list-group">
            {% for course in dept_courses %}
                {% if course.id == curr_course.id %}
                <a href="{{ url_for('viewCourse', dept_id = curr_dept.id, course_id = course.id) }}" class="list-group-item active">{{course.name}}</a>
                {% else %}
                <a href="{{ url_for('viewCourse', dept_id = curr_dept.id, course_id = course.id) }}" class="list-group-item">{{course.name}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>