<div class="col-md-9">
    <div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    {% set index=1 %}
                    {% for course in courses %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{index}}"></li>
                        {% set index = index + 1 %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive slide-image" src="{{curr_dept.img_url}}" alt="image for {{curr_dept.name}}">
                    </div>
                    {% for course in courses %}
                    <div class="item">
                        <img class="img-responsive slide-image" src="{{course.img_url}}" alt="image for {{course.name}}">
                    </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{curr_dept.name}}</h3>
            <p><strong>Located at: </strong>{{curr_dept.address}}</p>
            {% if ('username' in session) and (session['user_id'] == curr_dept.user_id) %}
            <div>
                <a href="{{url_for('editDepartment', dept_id=curr_dept.id)}}" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                <a href="{{url_for('deleteDepartment', dept_id=curr_dept.id)}}" class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
            </div>
            {% endif %}
            <br>
            <pre><span class="inner-pre">{{curr_dept.description | safe}}</span></pre>
        </div>

        <!-- iterate over courses here -->
        {% for course in courses %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img class="img-responsive course-thumbnail" src="{{ course.img_url }}" alt="thumbnail for {{course.name}}">
                <div class="caption">
                    <p><strong><a href="{{url_for('viewCourse', dept_id=curr_dept.id, course_id=course.id )}}">{{course.name}}</a></strong>
                    </p>
                    <p>{{course.description[0:100]}}...</p>
                </div>
                <div class="ratings">
                    <p> Credits: {{course.credits}}</p>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div>
