{% extends "base.html" %}
{% block content %}
<div class="container">
<form method="POST">
    {% if edit %}
    <h3>Edit course</h3>
    {% else %}
    <h3>Create a new course</h3>
    {% endif %}
    <div class="form-group" id="error-msg">{{error}}</div>

    <div class="form-group">
        <label for="department">Department</label>
        <p class=".form-control-static">{{curr_dept.name}}</p>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" value="{{name}}">
    </div>
    <div class="form-group">
        <label for="id">Course Code</label>
        <input type="text" class="form-control" id="id" placeholder="Enter course code" name="id" value="{{id}}">
        <small class="form-text text-muted">Enter a unique course code, maximum 6 characters. e.g. CS537 </small>
    </div>
    <div class="form-group">
        <label for="professor">Professor</label>
        <input type="text" class="form-control" id="professor" placeholder="Enter professor name" name="professor" 
            value="{{professor}}">
    </div>
    <div class="form-group">
        <label for="img_url">Image URL</label>
        <input type="text" class="form-control" id="img_url" placeholder="Enter a URL" name="img_url" value="{{img_url}}">
    </div>
    <div class="form-group">
        <label for="credits">Credits</label>
        <input type="text" class="form-control" id="credits" placeholder="Enter credits" name="credits" value="{{credits}}">
        <small class="form-text text-muted">Can be a maximum of 5</small>
    </div>
    <div class="form-group">
        <label for="max_capacity">Maximum capacity</label>
        <input type="text" class="form-control" id="max_capacity" placeholder="Enter maximum capacity" name="max_capacity" 
            value="{{max_capacity}}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="6" name="description">{{description}}</textarea>
    </div>
    <small class="form-text text-muted">None of the fields can be empty.</small>
    <br>
    <button type="button" class="btn btn-default" id="cancel-button">Cancel</button>
    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
</form>
</div>
<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

<!-- Script to ensure all input fields are filled -->
<script src="{{ url_for('static', filename='js/valid_inputs.js') }}"></script>

{% endblock %}